body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(29, 29, 255);
}

.b1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: rgb(29, 29, 255);
    border: 2px solid white;
}

.b2{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: rgb(29, 29, 255);
    border: 2px solid white;
}

.b3{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: rgb(29, 29, 255);
    border: 2px solid white;
}

input{
    background-color: gray;
    height: 25px;
}

.b4{
    color: white;
    border-radius: 10%;
    padding: 10px;
    background-color: rgb(29, 29, 255);
    border: 1px solid white;
}